<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>homePage</title>
</head>
<body>
    <H1>This is Home Page</H1>
    <h3><%= ["Hellow","bye","Namaste"][2] %></h3>
    <p> Lorem ipsum dolor sit amet
        consectetur adipisicing elit. 
        Aut omnis atque commodi minima cum. 
        Perferendis optio dolor, 
        beatae maxime quisquam a quidem repudiandae
         facilis, et nisi voluptatem 
    ullam, nobis vitae.</p>
</body>
</html>