<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h1>Roll Dice Result: <%= rollDice %></h1>
    <% if (rollDice === 6) { %>
        <h2>Nice roll! Roll the dice again.</h2>
    <% } else { %>
        <h2>Try your luck with the dice!</h2>
    <% } %>

    

</body>
</html>
